<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="closeModal()">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
    	Cambiar Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding animated fadeIn">
  <div>
    <form [formGroup]="onPasswordForm">
      <ion-list class="ion-margin-bottom">
        <ion-list-header color="light">
          <ion-label class="fw700">Contraseña actual</ion-label>
        </ion-list-header>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating" color="dark" >
          <ion-icon name="lock-closed-outline" item-start></ion-icon>
          Contraseña Actual
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="PassOld" [class.is-invalid] = "passOldNoValido"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="passOldNoValido">
        <ion-text color="danger">
          La contraseña introducida no es correcta.
        </ion-text>
      </p>
    </ion-list>
    <ion-list class="ion-margin-bottom">
      <ion-list-header color="light">
        <ion-label class="fw700">Nueva Contraseña</ion-label>
      </ion-list-header>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating" color="dark" >
          <ion-icon name="lock-closed-outline" item-start></ion-icon>
         Contraseña Nueva
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="PassNew" [class.is-invalid] = "passNewNoValido"></ion-input>
      </ion-item>
      <p ion-tex class="text08" *ngIf="passNewNoValido">
        <ion-text color="danger">
          La contraseña es obligatoria.
        </ion-text>
      </p>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating" color="dark">
          <ion-icon name="lock-closed-outline" item-start></ion-icon>
          Confirmar Contraseña
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="PassConfirmada" [class.is-invalid] = "passConfirNoValido"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="passConfirNoValido">
        <ion-text color="danger">
        La contraseñas no coinciden.
        </ion-text>
      </p>
    </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer class="no-padding">
  <ion-button icon-left size="large" expand="full" color="dark" (click)="CambiarPasswordButton()" [disabled]="!onPasswordForm.valid" tappable>
    <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
    Cambiar Contraseña
  </ion-button>
</ion-footer>