<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar style="margin-top: 2mm; margin-bottom: 0mm;" [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" placeholder="Buscar..."></ion-searchbar>
    <ion-buttons slot="end" style="margin-top: 2mm;"> 
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
    <ion-list-header *ngIf="hayConsultor" (click)="seleccionarEmpresa()">
      <ion-label color="primary"  >
        <h2>Cambiar de empresa</h2>
        <small color="primary">{{empresaCoonsultor.NombreCliente}}</small>
      </ion-label>
      <ion-icon color="primary" style="padding-right: 10px !important;" name="chevron-down-outline"></ion-icon>
    </ion-list-header>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding" [@staggerIn]="listaAsistencias">
    <ion-item class="bg-white"  *ngFor="let certificado of listaAsistencias"  tappable (click)="masInfo(certificado.Id)">
      <ion-label>
        <h2> 
          <ion-text color="dark"><strong>{{certificado.Trabajador}}</strong></ion-text>
        </h2>
        <p class="text-12x" >
          <ion-text color="secondary">{{certificado.NifTrabajador}}</ion-text>
        </p>
        <p class="text-12x" *ngIf="certificado.NombreCentroMedico!== undefined && certificado.NombreCentroMedico !== null && certificado.NombreCentroMedico.length > 0">
          <ion-text color="secondary">{{certificado.NombreCentroMedico}}</ion-text>
        </p> 
        <p class="text-12x" style="float: left;">
          <ion-text color="secondary">{{certificado.FechaDocumento | date: 'dd/MM/yyyy HH:mm'}}</ion-text>
        </p>
        <ion-badge style="float: right;" color="success">{{certificado.SituacionReconocimientoMedico}}</ion-badge>
      </ion-label>
    </ion-item> 
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getAsistencias($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando asistencias..">
      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

