<ion-header>
  <app-header></app-header>

  <ion-row *ngIf="!mostrarTest" style="background: #FFE294!important; padding:10px !important;">
    <ion-col >
      <label>Usted no tiene formularios que realizar.</label>        
    </ion-col>
  </ion-row>
    <ion-list-header *ngIf="mostrarTest" (click)="seleccionarTest()">
    <ion-label color="primary"  >
      <h2>Seleccionar Test</h2>
      <small color="primary">{{test.Nombre}}</small>
    </ion-label>
    <ion-icon color="primary" style="padding-right: 10px !important;" name="chevron-down-outline"></ion-icon>
  </ion-list-header>
</ion-header>

<ion-content class="ion-padding" *ngIf="!isMantoux">

  <ion-card *ngIf="mostrarTest && !isFinTest">
    <ion-card-header>
      <ion-card-subtitle>Pregunta Número {{contador + 1}}</ion-card-subtitle>
      <ion-card-title>{{test.Preguntas.PreguntaInfo[contador].Pregunta}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item style="width: 100%;" *ngFor="let respuesta of test.Preguntas.PreguntaInfo[contador].Respuestas.RespuestaInfo; let i = index" lines="none" (click)="guardarRespuesta(test.Preguntas.PreguntaInfo[contador].IdPregunta, respuesta.Valor, respuesta.SubRespuestas, i)">
        <ion-label class="ion-text-wrap" color="primary">{{respuesta.Respuesta}}</ion-label>
        <ion-checkbox #CheckRespuesta [(ngModel)] = "respuesta.ValorCheck" name={{respuesta.Valor}} slot="start" ></ion-checkbox>
<!--         <ion-radio #CheckRespuesta name={{respuesta.Valor}} slot="start"></ion-radio>
 -->   </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    
    <ion-row>
      <ion-col>
        <ion-button expand="full" *ngIf="mostrarTest && contador !==0 && !isFinTest" (click)="preguntaAnterior()">
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          <label> Anterior</label>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" *ngIf="mostrarTest && contador < (numeroPreguntas-1) && !isFinTest" (click)="preguntaSiguiente()">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          <span> Siguiente</span>
        </ion-button>
        <ion-button color="danger" expand="full" *ngIf="mostrarTest && contador == (numeroPreguntas-1) && !isFinTest" (click)="finalizarTest()">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          <span> Finalizar</span>
        </ion-button>
        
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mostrarTest &&  numeroPreguntasSinResponder > 0" style="background: #FFE294!important; padding:10px !important;">
      <ion-col >
        <label> Tienes {{numeroPreguntasSinResponder}} preguntas sin responder, complete todas para poder finalizar el test.</label>        
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

