<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          {{ 'app.name' | translate }} <ion-text color="tertiary" class="fw700"> {{ 'app.version' | translate }}</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
      <ion-button size="small" shape="round" color="medium" tappable routerLink="/settings" routerDirection="forward">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
      <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" placeholder="Buscar Certificado"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
          <ion-icon name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="ion-no-padding" [@staggerIn]="listaCertificados">
    <ion-item class="bg-white" *ngFor="let certificado of listaCertificados" tappable > <!--(click)="goCheckout(invoice.id)">-->
      <ion-icon slot="start" name="document-outline" color="danger" (click)="masInfo(certificado)"></ion-icon>
      <ion-label (click)="masInfo(certificado)">
        <h2>
          <ion-text color="dark"><strong>{{certificado.Descripcion}}</strong></ion-text>
        </h2>
        <p class="text-12x">
          <ion-text color="secondary">{{certificado.CentroTrabajo}}</ion-text>
        </p>
        <p class="text-12x">
          <ion-text color="secondary">{{certificado.FechaDocumento | date: 'dd/MM/yyyy'}}</ion-text>
        </p>
        <!--<ion-badge *ngIf="!invoice.paid" color="warning">Pending</ion-badge>
        <ion-badge *ngIf="invoice.paid" color="success">Paid</ion-badge>-->
      </ion-label>
     <ion-icon slot="end" name="download-outline" (click)="downloadCertificado(certificado.Id)"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
