<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
    	Política de Protección de Datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="https://mpecronos.com/Documentos/imagenesMPE/promo.png" />
  </ion-card>

    <h5 style="padding:0px,10px !important;">Grupo MPE <br/></h5>
      <h4  class="lead">Política de Protección de Datos</h4>
      <h4>1. RESPONSABLE</h4>
        <strong>A. Datos de contacto del Responsable</strong>
                <p *ngIf="!EsGuardiaCivil">El responsable de los datos recabados mediante esta web es MEDIOS DE PREVENCION EXTERNOS, S.L. con dirección C/ CAMINOS N6, 41020, SEVILLA Y CIF B41776360. Usted podrá contactar con el responsable mediante el siguiente Email <a href="mailto:rgpd@grupompe.es">rgpd@grupompe.es</a> o en el teléfono 954402585</p>
                <p *ngIf="EsGuardiaCivil || EsPoliciaNacional">El responsable de los datos recabados mediante esta web es MEDIOS DE PREVENCION EXTERNOS SUR, S.L. con dirección C/ CAMINOS N6, 41020, SEVILLA Y CIF B90037649. Usted podrá contactar con el responsable mediante el siguiente Email <a href="mailto:rgpd@grupompe.es">rgpd@grupompe.es</a> o en el teléfono 954402585</p>      
                <strong>B. Identidad y datos de contacto del responsable</strong>
                      <p>FÁTIMA GARCÍA VÁZQUEZ</p>
        <strong>C. Datos de contacto del Delegado de Protección de Datos </strong>
                      <p>INGADE CONNECT, S.L.<br />
                      <a href="mailto:dpo@ingadeconnect.es">dpo@ingadeconnect.es<br />
                      </a><br/>
              </p>
        <h4>2. FINALIDAD</h4>
        <strong>A. Descripción  ampliada  de  los  ﬁnes  del tratamiento</strong>
        <p>Gestión de clientes, contable, ﬁscal y administrativa Publicidad y prospección comercial
        </p>
        <strong>B. Plazos o criterios de conservación de los datos</strong>
        <p>Los datos que usted nos ha facilitado serán conservados mientras sean necesarios para las ﬁnalidades indicadas en el punto 2.A.<br />
                      Una vez finalizada la relación mercantil o solicitando su derecho de supresión los datos se eliminarán en un plazo máximo de 30 días, salvo que exista una obligación legal. </p>
                      <strong>C. Decisiones automatizadas, perﬁles y lógica aplicada </strong>
                      <p>Los datos recogidos mediante la aplicación no serán utilizados para tomar decisiones automatizadas.</p>
        <p><br/>
              </p>
        <h4>3. LEGITIMACION</h4>
        <strong>A. Legislación aplicable</strong>
        <ol>
              </ol>
                <p>La legislación aplicada es el Reglamento General de Protección de Datos 2016/679 de 27 de abril de 2016 así como la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales.</p>
                      <strong>B. Detalles de la base jurídica del tratamiento, en los casos de obligación legal, interés público o interés público o interés legítimo </strong>
                        <p>Art. 6, apartado 1 letra a. Que considera el consentimiento del interesado como una base legítima para el tratamiento de datos personales contenidos en este ﬁchero.<br />
                      Art. 6, apartado 1 letra b. Que considera la ejecución de un contrato como una base legítima para el tratamiento de datos personales contenidos en este fichero. </p>
                      <strong>C. Obligación o no de facilitar datos y consecuencias de no hacerlo </strong>
                      <p>No está obligado a facilitarnos los datos, sin embargo, será necesario para cumplir con el contrato.</p>
        <p  class="lead">&nbsp;</p>
        <h4>4. DESTINATARIOS</h4>
        <strong>A. Destinatarios</strong>
        <p>Organizaciones o personas directamente relacionadas con la empresa, Administración pública con competencia en la materia.              </p>
        <strong>B. Destinatarios especíﬁcos</strong>
        <p>Es posible que encargados de tratamiento puedan acceder a los datos contenidos en esta aplicación por el ejercicio de sus funciones de mantenimiento.</p>
        <strong>C. Decisiones de adecuación, garantías, normas corporativas vinculantes o situaciones especíﬁcas aplicables </strong>
                      <p>No existen.</p>
                      <strong>D. Transferencias internacionales </strong>
                        <p>No existen <br />
                      Toda la información será conservada en los servidores de MEDIOS DE PREVENCIÓN EXTERNOS, S.L. </p>
                      <p><br/>
                        </p>
        <h4>5. DERECHOS</h4>
        <strong>A. Cómo ejercer los derechos de acceso, rectiﬁcación, supresión y portabilidad de sus datos, y la limitación u oposición a su tratamiento</strong>
        <p>El interesado podrá conocer, modiﬁcar, o eliminar los datos que la empresa posea acerca de su persona mediante correo electrónico facilitando su DNI o bien por correo postal a C/ CAMINOS N6, 41020, SEVILLA. El interesado podrá transferir sus datos a otra entidad o bien limitar los ya existentes que la empresa posea acerca de su persona mediante correo electrónico facilitando su DNI o bien por correo postal a C/ CAMINOS N6, 41020, SEVILLA.              </p>
        <strong>B. Derecho a retirar el Consentimiento prestado </strong>
        <p>El interesado podrá retirar los datos que la empresa posee acerca de su persona mediante correo electrónico facilitando su DNI o bien por correo postal a C/ CAMINOS N6, 41020, SEVILLA).</p>
                      <strong>C. Derecho a reclamar ante la Autoridad de Control </strong>
                      <p>El interesado podrá reclamar ante la Agencia Española de Protección de Datos acerca de toda incidencia que pueda surgirle.</p>
                      <p><br/>
                        </p>
        <h4>6. PROCEDENCIA</h4>
        <strong>A. Información detallada del origen de los datos</strong>
        <p>Facilitados por el propio interesado<br />
              Facilitados por el Responsable por el cual se efectúa el tratamiento                </p>
        <strong>B. Categorías de datos que se tratan</strong>
        <p>Datos de contacto, usuarios y contraseñas Características Personales<br />
                  Circunstancias sociales Académicos y profesionales Detalles del empleo <br />
                  Económicos, financieros y de seguros <br />
                  Datos de Salud            </p>
                  <br />

                  <strong>He leído y entiendo la Política de Protección de Datos</strong>
        <ion-button icon-left expand="full" color="primary" (click)="aceptarTerminos()" tappable class="ion-no-padding">
          <ion-icon slot="start" name="checkmark-outline"></ion-icon>
          Aceptar Política
        </ion-button>
      </ion-content>