<app-header></app-header>
<ion-content>

  <ion-list class="ion-no-padding" [@staggerIn]="noticias">
    <ion-list-header color="danger" mode="md">
      <ion-text class="ion-text-center" color="light" style="font-size: large;">Noticias</ion-text>
    </ion-list-header>
    <ion-item class="bg-white"  *ngFor="let not of noticias"  tappable (click)="masInfo(not)">
     <!--  <ion-avatar slot="start">
        <img src="{{not.PathImagen}}" />
      </ion-avatar> -->
      <ion-label>
        <h2> 
          <ion-text color="dark" class = "ion-text-wrap"><strong>{{not.Titulo}}</strong></ion-text>
        </h2>
        <!-- <p class="text-12x">
          <ion-text color="secondary">{{not.DescripcionCorta}}</ion-text>
        </p>
        <p class="text-12x">
          <ion-text color="secondary">{{not.FechaInicio | date: 'dd/MM/yyyy'}}</ion-text>
        </p> -->
      </ion-label>
      <ion-icon color="danger" slot="end" name="chevron-forward-outline" ></ion-icon>
    </ion-item>
 </ion-list> 

 <ion-list class="ion-no-padding" [@staggerIn]="noticias">
  <ion-list-header color="danger" mode="md">
    <ion-text class="ion-text-center" color="light" style="font-size: large;">Promociones</ion-text>
  </ion-list-header>
  <ion-item class="bg-white"  *ngFor="let prom of promociones"  tappable (click)="masInfo(prom)">
    <!--  <ion-avatar slot="start">
       <img src="{{not.PathImagen}}" />
     </ion-avatar> -->
     <ion-label >
       <h2> 
         <ion-text color="dark" class = "ion-text-wrap"><strong>{{prom.Titulo}}</strong></ion-text>
       </h2>
       <!-- <p class="text-12x">
         <ion-text color="secondary">{{not.DescripcionCorta}}</ion-text>
       </p>
       <p class="text-12x">
         <ion-text color="secondary">{{not.FechaInicio | date: 'dd/MM/yyyy'}}</ion-text>
       </p> -->
     </ion-label>
     <ion-icon color="danger" slot="end" name="chevron-forward-outline" ></ion-icon>
   </ion-item>
</ion-list> 



</ion-content>
