<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light"> Grupo MPE</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <ion-row *ngIf="noTieneMantoux" style="background: #FFE294!important; padding:10px !important;">
    <ion-col >
      <label> No tiene que realizar esta prueba.</label>        
    </ion-col>
  </ion-row>

  <ion-card *ngIf="!noTieneMantoux">
    <ion-card-header>
<!--       <ion-card-subtitle>Pregunta Número {{contador + 1}}</ion-card-subtitle>
 -->      <ion-card-title>Instrucciones para la realización de la fotografía</ion-card-title>
    </ion-card-header>
    <ion-row style="align-content: center !important; align-self: center !important; align-items: center !important;">
      <img  src="https://mpecronos.com/Documentos/imagenesMPE/mantoux.jpg" />
    </ion-row>
    <ion-card-content>
      <ion-label class="ion-text-wrap">
        Para la correcta realización de la fotografía es necesario disponer de una herramienta como referencia, 
        lo ideal sería poner una regla con la que  podamos medir únicamente  la induración, que es la parte endurecida que se forma en la piel,
        sin tener en cuenta el enrojecimiento que se haya podido producir alrededor, como se muestra en la imagen. <br /><br />

        En caso de no disponer de dicha regla, otra alternativa sería poner una moneda junto a la induración y mostrando la cara con el valor de dicha moneda, siendo lo más conveniente, si es posible, 
        que el tamaño de la moneda sea lo más aproximado al tamaño de la induración.  <br />

      </ion-label>   
      <ion-button mode="ios" expand="full" color="primary" (click)="presentActionSheet()">
        <ion-icon slot="start" color="light" name="camera-outline"> </ion-icon>
        <ion-label>Subir Imagen</ion-label>
     </ion-button>    </ion-card-content>
  </ion-card>
<!--   <ion-card *ngIf="mostrarTest && this.contador !== 0">
    <ion-card-header>
       <ion-card-subtitle>Pregunta Número {{contador + 1}}</ion-card-subtitle>
       <ion-card-title>Por favor, inserte una imagen de su brazo derecho de perfil por la parte trasera.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button mode="ios" expand="full" color="primary" (click)="presentActionSheet()">
        <ion-icon slot="start" color="light" name="camera-outline"> </ion-icon>
        <ion-label>Subir Imagen</ion-label>
     </ion-button>    
    </ion-card-content>
  </ion-card> --> 


  <ion-grid *ngIf="!noTieneMantoux">

    <ion-row *ngIf="isImagenAdjuntada" style="background: #FFE294!important; padding:10px !important;">
      <ion-col >
        <label> Ha adjuntado una imagen.</label>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
      <!--   <ion-button expand="full" *ngIf="mostrarTest && contador === 1" (click)="preguntaAnterior()">
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          <label>Anterior</label>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" *ngIf="mostrarTest && contador === 0" (click)="preguntaSiguienteMantoux()">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          <span>Siguiente</span>
        </ion-button> -->
        <ion-button color="danger" expand="full" [disabled]="!isImagenAdjuntada" (click)="finalizarTestMantoux()">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          <span> Finalizar</span>
        </ion-button>
        
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngIf="mostrarTest &&  numeroPreguntasSinResponder > 0" style="background: #FFE294!important; padding:10px !important;">
      <ion-col >
        <label> Tienes {{numeroPreguntasSinResponder}} preguntas sin responder, complete todas para poder finalizar el test.</label>        
      </ion-col>
    </ion-row> -->
  </ion-grid>


</ion-content>

