<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title style="margin-top: 2mm; margin-bottom: 0mm;">
      <ion-text color="light">
        {{ 'app.name' | translate }} <ion-text color="tertiary" class="fw700"> {{ 'app.version' | translate }}</ion-text>
      </ion-text>
    </ion-title >
    <ion-title style="margin-top: 0cm;  margin-bottom: 1mm;">
      <ion-text color="light" style="font-size: x-small; margin-top: 0cm; margin-bottom: 3mm;">
        {{usuario.Nombre}}
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications" [color]="Cantidad > 0 ? '#FFFFFF':'dark'"></ion-icon>
        <ion-badge [color]="Cantidad > 0 ? 'danger': 'dark'" slot="end">{{Cantidad}}</ion-badge>
      </ion-button>
      <ion-button size="small" shape="round" color="medium" tappable routerLink="/edit-profile" routerDirection="forward">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
      <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" placeholder="Buscar Documento"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list class="ion-no-padding" [@staggerIn]="listaDocumentos">
    <ion-item class="bg-white"  *ngFor="let certificado of listaDocumentos"  tappable (click)="downloadDocumento(certificado.Id)"> <!--(click)="goCheckout(invoice.id)">-->
      <ion-icon slot="start" name="document-outline" color="danger"></ion-icon>
      <ion-label>
        <h2>
          <ion-text color="dark"><strong>{{certificado.Descripcion}}</strong></ion-text>
        </h2>
        <p class="text-12x">
          <ion-text color="secondary">{{certificado.FechaDocumento | date: "dd/MM/yyyy"}}</ion-text>
        </p>
      </ion-label>
     <ion-icon slot="end" name="download-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getDocumentos($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando documentos..">
      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
 </ion-content>
