<app-header></app-header>
<ion-content>
  <ion-toolbar color="dark">
    <ion-searchbar style="margin-top: 3mm; margin-bottom: 0mm;"[(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" placeholder="Buscar Documento"></ion-searchbar>
  </ion-toolbar>

  <ion-list class="ion-no-padding" [@staggerIn]="listaDocumentos">
    <ion-item class="bg-white"  *ngFor="let certificado of listaDocumentos"  tappable (click)="downloadDocumento(certificado.Id)"> <!--(click)="goCheckout(invoice.id)">-->
      <ion-icon slot="start" name="document-outline" color="danger"></ion-icon>
      <ion-label>
        <h2>
          <ion-text color="dark"><strong>{{certificado.Descripcion}}</strong></ion-text>
        </h2>
        <p class="text-12x">
          <ion-text color="secondary">{{certificado.FechaDocumento | date: "dd/MM/yyyy"}}</ion-text>
        </p>
      </ion-label>
     <ion-icon slot="end" name="download-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getDocumentos($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando documentos..">
      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
 </ion-content>
