<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text *ngIf="usuario.EsGuardiaCivil === null || usuario.EsGuardiaCivil === undefined || usuario.EsGuardiaCivil !== true" color="light"> Grupo MPE</ion-text>
      <ion-text *ngIf="usuario.EsGuardiaCivil !== null && usuario.EsGuardiaCivil !== undefined && usuario.EsGuardiaCivil" color="light"> MPE Sur</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-row style="background: #FFE294!important; padding:10px !important;">
          <ion-col >
            <label> Por favor indique sus datos para poder contactar con usted, y/o poder enviarles notificaciones por SMS o Email.</label>        
          </ion-col>
        </ion-row>
        <form [formGroup]="contactameForm" class="list-form">
          <ion-item>
            <ion-label color="dark" position="stacked">Nombre:</ion-label>
            <ion-text color="dark" type="text" >{{usuario.Usuario}}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label color="dark" position="stacked">Teléfono:</ion-label>
            <ion-input color="dark" type="text" formControlName="telefono"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="dark" position="stacked">Email:</ion-label>
            <ion-input color="dark" type="text" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="dark" position="stacked">Asunto:</ion-label>
            <ion-input text="wrap" color="dark" type="text" formControlName="asunto"></ion-input>
          </ion-item>          
        </form>
        <ion-row style="background: #FFE294!important; padding:10px !important;">
          <ion-col >
            <label>  Puede contactar con Grupo MPE en:</label>        
          </ion-col>
        </ion-row>
        <ion-list class="ion-margin-bottom">
          <ion-item>
            <ion-icon  slot="start" name="call-outline" item-start></ion-icon>
            <ion-label color="dark" position="stacked"></ion-label>
          </ion-item>
          <ion-item>
            <ion-icon  slot="start" name="mail-outline" item-start></ion-icon>
            <ion-label color="dark" position="stacked">VigilanciaSaludGuardiaCivil@grupompe.es</ion-label>
          </ion-item>

          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="no-padding">
  <ion-button [disabled]="!contactameForm.valid" icon-left size="large" expand="full" color="dark" (click)="enviarConsulta()" tappable>
    <ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
   Enviar consulta
  </ion-button>
</ion-footer>
