<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light"> Grupo MPE</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-row style="background: #FFE294!important; padding:10px !important;">
          <ion-col >
            <label> Por favor indíquenos sus datos para recibir notificaciones por SMS o Email.</label>        
          </ion-col>
        </ion-row>
        <form [formGroup]="contactameForm" class="list-form">
          <ion-item>
            <ion-label color="dark" position="stacked">Nombre:</ion-label>
            <ion-input color="dark" type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="dark" position="stacked">Teléfono:</ion-label>
            <ion-input color="dark" type="text" formControlName="telefono"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="dark" position="stacked">Email:</ion-label>
            <ion-input color="dark" type="text" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="dark" position="stacked">Asunto:</ion-label>
            <ion-input text="wrap" color="dark" type="text" formControlName="asunto"></ion-input>
          </ion-item>          
        </form>
        <ion-row style="background: #FFE294!important; padding:10px !important;">
          <ion-col >
            <label>  Puede contactar con Grupo MPE por el siguiente teléfono o email.</label>        
          </ion-col>
        </ion-row>
        <ion-list class="ion-margin-bottom">
          <ion-item>
            <ion-icon  slot="start" name="call-outline" item-start></ion-icon>
            <ion-label color="dark" position="stacked">902 30 66 30</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon  slot="start" name="mail-outline" item-start></ion-icon>
            <ion-label color="dark" position="stacked">guardiacivil@grupompe.es</ion-label>
          </ion-item>

          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="no-padding">
  <ion-button [disabled]="!contactameForm.valid" icon-left size="large" expand="full" color="dark" (click)="enviarConsulta()" tappable>
    <ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
   Enviar consulta
  </ion-button>
</ion-footer>
