<ion-tabs *ngIf="usuario.Tipo !== 'TRABAJADOR'">
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="vigilancia-salud">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>VS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home-location-menu">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Centros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="formacion">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documentos">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Certificados</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

<ion-tabs *ngIf="usuario.Tipo === 'TRABAJADOR' && (!esGuardiaCivil && !esPoliciaNacional)">
    <ion-tab-bar slot="bottom" color="primary">
      
      <!-- <ion-tab-button tab="home-location-menu">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Centros</ion-label>
      </ion-tab-button> -->
  
      <ion-tab-button tab="documentos-covid">
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>COVID</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="documentos-trabajador">
        <ion-icon name="document-outline"></ion-icon>
        <ion-label>RRMM</ion-label>
      </ion-tab-button>  
  
      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="formacion">
        <ion-icon name="timer-outline"></ion-icon>
        <ion-label>Formacion</ion-label>
      </ion-tab-button>   
  
      <ion-tab-button tab="formacion">
        <ion-icon name="timer-outline"></ion-icon>
        <ion-label>Citas</ion-label>
      </ion-tab-button>    
  
    </ion-tab-bar>


</ion-tabs>

<ion-tabs *ngIf="usuario.Tipo === 'TRABAJADOR' && (!esGuardiaCivil && esPoliciaNacional)">
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="documentos-trabajador">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>RRMM</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documentos-covid">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>COVID</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="citas-pendientes-trabajador">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>    

  </ion-tab-bar>


</ion-tabs>

<ion-tabs *ngIf="usuario.Tipo === 'TRABAJADOR' && (esGuardiaCivil && !esPoliciaNacional)">
  <ion-tab-bar slot="bottom" color="primary">
    
    <ion-tab-button tab="test-menu">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Formularios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documentos-trabajador">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>RRMM</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documentos-covid">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>COVID</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="citas-pendientes-trabajador">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>    

  </ion-tab-bar>


</ion-tabs>