<ion-tabs *ngIf="usuario.Tipo === 'CLIENTE' || usuario.Tipo === 'CONSULTOR'">
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="vigilancia-salud">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>VS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home-location-menu">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Centros</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="citas-pendientes">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="documentos">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Documentos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

<ion-tabs *ngIf="usuario.Tipo !== 'CLIENTE' || usuario.Tipo !== 'CONSULTOR'">
    <ion-tab-bar slot="bottom" color="primary">
      
      <ion-tab-button tab="home-location-menu">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Centros</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="covid">
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>COVID</ion-label>
      </ion-tab-button>
  
  
      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="documentos">
        <ion-icon name="document-outline"></ion-icon>
        <ion-label>Documentos</ion-label>
      </ion-tab-button>
  
  
      <ion-tab-button tab="citas-pendientes">
        <ion-icon name="timer-outline"></ion-icon>
        <ion-label>Citas</ion-label>
      </ion-tab-button>    
  
    </ion-tab-bar>


</ion-tabs>