<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil Usuario</ion-title>
    <ion-buttons slot="end" color="dark" >
      <ion-button icon-left color="light" (click)="Borrardatos()">
        <ion-icon name="log-out-outline" ></ion-icon> 
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card class="ion-no-margin">
    <ion-card-content class="bg-profile">
      <img src="assets/img/brokers/michael_drukov.jpg" class="user-avatar">
      <h1 class="fw500" *ngIf="!EsGuardiaCivil">{{Nombre}}</h1>
      <h1 color="light" class="ion-margin-bottom">{{Tipo}}</h1>
    </ion-card-content>
  
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-padding">

          <ion-list class="ion-margin-bottom">
            <ion-list-header color="light">
              <ion-label class="fw700">{{ 'app.label.userdata' | translate }}</ion-label>
            </ion-list-header>

            <ion-item *ngIf="!EsGuardiaCivil">
              <ion-label color="dark" position="stacked">Nombre:</ion-label>
              <ion-text>{{Nombre}}</ion-text>
            </ion-item>
          
            <ion-item *ngIf="!EsGuardiaCivil">
              <ion-label color="dark" position="stacked">Tipo:</ion-label>
              <ion-text>{{Tipo}}</ion-text>
            </ion-item>

            <ion-item *ngIf="EsGuardiaCivil">
              <ion-label color="dark" position="stacked">Nombre:</ion-label>
              <ion-text></ion-text>
            </ion-item>
            <ion-item *ngIf="EsGuardiaCivil">
              <ion-label color="dark" position="stacked">Teléfono:</ion-label>
              <ion-text></ion-text>
            </ion-item>
            <ion-item *ngIf="EsGuardiaCivil">
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-text></ion-text>
            </ion-item>
          </ion-list>

          <!-- <ion-list>
            <ion-radio-group [(ngModel)]="Tipo">
              <ion-list-header color="light">
                <ion-label class="fw700">{{ 'app.label.usertype' | translate }}</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label color="primary">Empleado</ion-label>
                <ion-radio slot="start" value="TRABAJADOR" disabled="true"></ion-radio>
              </ion-item>
              
              <ion-item>
                <ion-label color="primary">Cliente</ion-label>
                <ion-radio slot="start" value="CLIENTE" disabled="true"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-button *ngIf="EsGuardiaCivil"  [disabled]="EsGuardiaCivil" icon-left expand="full" color="primary" (click)="cambiarPassword()" tappable class="ion-no-padding">
    <ion-icon slot="start" name="save-outline"></ion-icon>
    Guardar Cambios
  </ion-button>
  <ion-button icon-left expand="full" color="primary" (click)="cambiarPassword()" tappable class="ion-no-padding">
    <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
    Cambiar Contraseña
  </ion-button>
  <ion-button icon-left expand="full" color="primary" (click)="cambiarUsuario()" tappable class="ion-no-padding">
    <ion-icon slot="start" name="person-add-outline"></ion-icon>
    Cambiar Usuario
  </ion-button>
  
  
</ion-content>

