<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="close()">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
    	Respuestas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item tappable>
    <ion-list>
        <ion-list-header color="light">
          <ion-label class="fw700">Pregunta número {{subrespuestas.IdPregunta}}</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let subrespuesta of subrespuestas.RespuestaSubPreguntas.RespuestaSubPreguntaInfo; let i = index" >
          <ion-label class="ion-text-wrap" color="primary">{{subrespuesta.Respuesta}}</ion-label>
          <ion-checkbox [(ngModel)] = "subrespuesta.ValorCheck" value={{subrespuesta.IdRespuesta}} slot="start" ></ion-checkbox>
        </ion-item>

    </ion-list>    
  </ion-item>

  <ion-button expand="block" (click)="guardarRespuesta()">Siguiente Pregunta</ion-button>

</ion-content>