<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="closeModal()">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
    	Filtro Citas Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-item>
		<ion-label class="fw500" color="dark">DNI</ion-label>
		<ion-input style="text-align: end !important;" placeholder="Introduzca DNI" [(ngModel)]="filtro_dni"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label class="fw500" color="dark">Trabajador</ion-label>
		<ion-input style="text-align: end !important;" placeholder="Nombre Trabajador" [(ngModel)]="filtro_nombre"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label class="fw500" color="dark">Desde</ion-label>
		<ion-datetime 	placeholder = "Desde"
						value= "{{filtro_desde}}"
						displayFormat="DD/MM/YYYY"
						pickerFormat="DD MM YYYY" 
						doneText="Ok" 
						cancelText="Cancelar"
						[(ngModel)]="filtro_desde">
		</ion-datetime>
	</ion-item>

	<ion-item >
		<ion-label class="fw500" color="dark">Hasta</ion-label>
		<ion-datetime 	placeholder = "Hasta"
                    	value= "{{filtro_hasta}}"
                        displayFormat="DD/MM/YYYY"
                    	pickerFormat="DD MM YYYY" 
                    	doneText="Ok" 
                    	cancelText="Cancelar"
						[(ngModel)]="filtro_hasta">
		</ion-datetime>
	</ion-item>
	<ion-item>
	  <ion-label class="label" color="primary" >Prósimos 7 días</ion-label>
	  <ion-toggle [(ngModel)]="ultimoMes" (click)="add7dias()"></ion-toggle>
	</ion-item>
	<ion-item>
		<ion-label class="label" color="primary">Próximos 30 días</ion-label>
		<ion-toggle [(ngModel)]="ultimoTrimestre" (click)="addMes()"></ion-toggle>
	</ion-item>
	<ion-item>
		<ion-label class="label" color="primary">Todas</ion-label>
		<ion-toggle [(ngModel)]="anioActual" (click)="todasLasCitas()"></ion-toggle>
	</ion-item>
	

	<ion-button expand="full" color="primary" (click)="filtrar()">Filtrar</ion-button>
</ion-content>

