<ion-list class="ion-no-margin ion-no-padding">
  <ion-list-header color="dark" mode="md">
    <ion-label class="fw700">Seleccione un Test: {{arrayTest.length}}</ion-label>
  </ion-list-header>

  <ion-item class="bg-white ion-no-padding ion-no-margin"  detail *ngFor="let test of arrayTest"  tappable (click)="elegirTest(test)" [disabled] = test.HacerTest>
    <ion-icon style="margin: 0px !important; padding: 10px;" slot="start" name="school-outline"  color="danger"></ion-icon>
    <ion-label >
      <h2>
        <ion-text  color="dark"><strong>{{test.Nombre}}</strong></ion-text>
      </h2>
      <p class="text-12x">
        <ion-text color="secondary">{{test.Permiso}}</ion-text>
      </p>
    </ion-label>
  </ion-item>
  
</ion-list>